<!DOCTYPE html>
<html>
<!-- <script language="JavaScript" type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script>

function unLock() {
  $.ajax({
    type: 'POST',
                url: '/unLock',
    data: '',
    success: function (data) {
                }
       });
}

function Lock() {
  $.ajax({
    type: 'POST',
                url: '/Lock',
    data: '',
    success: function (data) {
                }
       });
}
</script>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to SecureLock - beta 1.0</p>
    <form><input type='button' value='unLock' onclick='unLock()'/></form>
    <form><input type='button' value='Lock' onclick='Lock()'/></form>
  </body> -->
Hello, the api is at /users or / for locking or unlocking 
</html>
